.formTitle {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #303030;
  margin-bottom: 30px;
}

.addButton {
  width: 150px;
  background: #e85d04;
  margin: 0 auto;
}

.addButton:hover {
  background: #e85b04c6;
}
