.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: var(--LIGHT);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 428px) {
    height: auto;
    width: 428px;
  }
  z-index: 1000;
}

.open {
  transform: translate(-50%, -50%) scale(0);
}

.modalTitle {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #303030;
  margin-bottom: 30px;
}
