.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formField {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.formButton {
  width: 100px;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}
