.form {
  width: 400px;
  margin: 40px auto;
}

.saveButton {
  width: 150px;
  background: #e85d04;
  margin: 0 auto;
}

.saveButton:hover {
  background: #e85b04c6;
}

.saveButton.disabled {
  background: gray;
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
}
