.form {
  width: 400px;
  margin: 40px auto;
}

.saveButton {
  width: 150px;
  background: var(--PRIMARY);
  margin: 0 auto;
}

.saveButton:hover {
  background: var(--SECONDARY);
}

.saveButton.disabled {
  background: var(--DISABLED);
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
}
