.contactListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.editButton {
  font-size: 20px;
  color: var(--PRIMARY);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.editButton:hover {
  cursor: pointer;
  color: var(--SECONDARY);
}

.deleteButton {
  font-size: 20px;
  color: var(--PRIMARY);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteButton:hover {
  cursor: pointer;
  color: var(--SECONDARY);
}
