.form {
  padding: 40px;
  position: relative;
  top: 300px;
  left: 50%;
  width: 350px;
  background-color: rgba(25, 28, 38, 0.2);
  border-radius: 5px;

  transform: translate(-50%, -50%);

  @media (min-width: 428px) {
    height: auto;
    width: 428px;
  }
}

.formTitle {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #303030;
  margin-bottom: 30px;
}

.registerButton {
  width: 150px;
  background: var(--PRIMARY);
  margin: 0 auto;
}

.registerButton:hover {
  background: var(--SECONDARY);
}
