.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.error {
  color: red;
  font-size: 0.875rem; /* Adjust font size as needed */
  margin-top: 4px; /* Add some space between input and error message */
}
