.formField {
  display: block;
  position: relative;
}

.formLabel {
  position: absolute;
  top: -16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.formInput {
  /* display:block -> for icon positioning */
  display: block;
  width: 100%;
  margin: 0 auto 45px;
  padding: 11px 16px 11px 40px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87;
  letter-spacing: 0.01em;
  color: #303030;

  transition: border-color 250ms ease-in-out;
}

.formInput:focus {
  outline: none;
  border-color: #4d5ae5;
}

.errorInput {
  border-color: red;
}

.formIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #303030;
  transition: fill 250ms ease-in-out;
}

.formInput:hover + .formIcon,
.formInput:focus + .formIcon {
  fill: #e85d04;
}

.formButton {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.error {
  color: red;
  position: absolute;
  bottom: -16px;
  font-size: 12px;
}
